.project-container {
    .project-title {
        text-align: center;
        font-weight: 600;
    }
    .project-body {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        .project-body-img {
            width: 140px;
            height: 140px;
        }
    }
    .project-footer {
        .action-bar {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            .action-bar-item {
                margin-right: 3px;
            }
        }
    }
}
.example {
    display: none;
}
